// text colors
$main-color: #000;
$secondary-color: #ECECEC;
$warning-color: #ff0000;
$article-title-color: #0097A7;

// background
$primary-bg: #01ACAC;
$secondary-bg: #EFEFEF;

// border
$article-border: #728B97;